*{box-sizing:border-box;}
.container{ width:1105px; margin:auto;}
.clearfix{clear:both;}
.header .slider 
{
    background-image:url('image/slider.PNG');
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-color:#EEE;
    height:600px;
}
.header .slider .intro{color:#fff;padding-top:200px;text-align:center;}
.header .slider .intro h2
{
    margin:0 auto;
   font-size:50px;
   border-top: 4px solid black;
   border-bottom: 4px solid black;
   padding: 5px 0;
   width: 600px;
   color:black;
}
.header .slider .intro button
{
   background:none;
   font-weight: bold;
   margin-top:30px;
   font-size:20px;
   border:2px solid black;
   padding:10px 20px;
}
.header .navbar{background-color: #252f31;color:#fff;overflow:hidden;}
.header .navbar h2{color:#fff;}
.header .navbar h2 span {color:#2ecc71}
.header .navbar ul
{
    list-style:none;
    float: right;
    padding-left: 0;
    overflow:hidden;
}
.header .navbar ul li {float:left;padding:10px}
.header .navbar ul li a{ text-decoration:none;color :#fff;}
.header .navbar ul li.active a ,.header .navbar ul li a:hover{color:#30b576;}
/* comment*/
.features{ overflow:hidden ; padding-top:40px; padding-bottom:50px;}
.features .feat{ width:33.333%; height:150px;}
/*comment*/
.about-me{ background-color:#f2f2f2; overflow:hidden;}
.about-me .image{ width:40%;}
.about-me .image img{ width:100%;}
.about-me .info{ width:60%;}
.about-me .info h2{margin:25px 0 20px 40px;}
.about-me .info >p{margin:0 0 10px 40px;}
.about-me .info >p:last-of-type{margin-top:15px;}
.about-me .info .hobbies{ overflow:hidden; margin:20px 0 0 40px;}
.about-me .info .hobbies .content{overflow: hidden;}
.about-me .info .hobbies .content .icon{width:8%;margin-right:2%;}
.about-me .info .hobbies .content .icon img
{
  max-width: 100%;
  margin:30px 10px 0 0;
  width:50px;
  height:50px;
}
.about-me .info .hobbies .content .text{width:90%;}
.about-me .info .hobbies .content .text p{margin:0}
.about-me .info .hobbies .content .text h3{margin-bottom: 5px}
/*comment*/
.my-skills{ overflow :hidden;padding-top: 30px;padding-bottom:50px;}
.my-skills .skills,.my-skills .progress{ width:50%;}
.my-skills .skills h2{margin:25px 0 20px 40px;}
.my-skills .skills >p{margin:0 0 10px 40px;}
.my-skills .skills >p:last-of-type{margin-top:15px;}
.my-skills .skills button{margin-top:20px;margin-left:40px;}
.my-skills .progress .technique{margin-left:50px}
.my-skills .progress .technique div{background-color: #f2f2f2; height:25px;}
.my-skills .progress .technique div span
{
  color: #fff;
  text-align: right;
  background-color: #2dcc70;
  display:block;
  height:25px;
  line-height: 25px;
}
/*comment*/
.resume
{
  text-align:center;
  background-color:#f2f2f2;
  padding-top:50px;
  padding-bottom: 70px;
}
.resume h2{font-weight: bold;}
.resume p{ padding :0 40px;}
.resume button{ margin-top: 15px;}
/*comment*/
.my-education{ overflow :hidden; padding-top: 30px; padding-bottom:30px;}
.my-education  hr {margin:20px 0;background-color: #999;height :1px;border: 0;}
.my-education .main{width:50%;margin-right: 5%;}
.my-education .main h2{margin:25px 0 20px 40px;}
.my-education .main >p{ margin:0 0 10px 40px; }
.my-education .main >p:last-of-type{margin-top:15px;}
.my-education .exp{width:45%;}
.my-education .exp h3{margin-top: 75px;margin-bottom:10px;}
.my-education .exp span{margin-bottom:10px;display:block;}
.my-education .exp span:first-of-type{color:#999}
.my-education .exp span:last-of-type
{
  background-color: #2dcc70;
  color:#fff;
  display:inline-block;
  padding:4px 10px;
}
/*comment*/
.testemonial
{
    background-color: #f2f2f2;
    padding-top: 50px;
    padding-bottom:50px;
    text-align:center;
}
.testemonial q{color:#888;font:italic bold 18px/1.8 Arial Tahoma;}
.testemonial h3{ margin-bottom: 30px;}
.testemonial  ul{ list-style: none;padding-left: 0;text-align: center;}
.testemonial  ul li
{
  width:15px;
  height:15px;
  border:2px solid #2dcc70;
  display:inline-block;
  }
.testemonial  ul li.active,.testemonial  ul li:hover {background-color:#2dcc70;}
/*comment*/
.portfolio{padding-top: 50px;padding-bottom:70px;text-align:center;}
.portfolio p{margin-bottom: 30px;}
.portfolio .our-work{overflow:hidden; }
.portfolio .our-work > div{float:left; margin-bottom: 10px; width:33.333%;}
.portfolio .our-work >div img {
  width:92%;
  margin:10px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 10px 10px 12px #ccc;
  }
/*comment*/
.contact
{
   overflow:hidden;
   background-color: #252f31;
   padding-top: 50px;
   padding-bottom: 70px;
}
.contact .info {width:50%;margin-right: 5%;}
.contact .info h2 {color:#fff;margin-left: 40px;}
.contact .info p{color:#6a6e61;margin-left: 40px;}
.contact p strong {color:#d1d6da;}
.contact .form{ width:45%;margin-top: 30px;}
.contact .form label{display: block;color:#d1d6da;margin:10px 0;}
.contact .form input[type="text"]
{
  background-color: #4b5557;
  color:#fff;
  padding:10px;
  border:0;
  width:80%;
  margin-bottom: 10px;
}
.contact .form textarea
{
  background-color: #4b5557;
  color:#fff;
  padding:10px;
  border:0;
  width:80%;
  margin-bottom: 10px;
  height:300px;
}
.contact .form input[type="submit"]
{
  background-color: #191e22;
  border:0;
  color:#fff;
  padding:10px 20px;
  margin-top: 10px;
}
/*comment*/
.footer
{
   background-color:#191e22;
   color:#6a6e71;
   padding:20px 0;
   text-align:center;
   overflow:hidden;
}
.footer ul
{
  list-style: none;
  padding-left:0;
  margin:0;
  float:right;
}
.footer ul li{ display:inline-block;}
/*end design*/
/*start framework*/
.my-button
{
  background:none;
  color:#2dcc70;
  border:3px solid #2dcc70;
  padding:10px 30px;
  font-weight: bold;
}
.fl-left{float :left};
p{line-height: 1.7;color:#888;}
h2,h3{color:#777;}